tokenizers==0.21.2
torch==2.7.1
torchaudio==2.7.1
TorchCRF==1.1.0
torchelastic==0.2.2
torchvision==0.22.1
transformers==4.53.2
json5
pytorch-crf
tqdm
seaborn
matplotlib
wandb
modelscope[framework]
onnx
onnxruntime-gpu